
.active{
    opacity:1;
    z-index:1;
}

.toastBody{
    font-size:14px;
    background:'red';
}
.drag-none {
  -webkit-user-drag: none;
  user-drag: none;
 
}
.spinner {
    width: 50px; /* Size of the spinner */
    height: 50px; /* Size of the spinner */
    border: 8px solid transparent; /* Transparent border for the spinner background */
    border-radius: 50%; /* Makes it circular */
    border-top: 8px solid transparent; /* Makes the top part invisible to show gradient effect */
    background: conic-gradient(from 0deg, transparent 0%, #00695C 100%); /* Slightly darker gradient */
    background-clip: content-box; /* Clips the background gradient to the content box */
    animation: spin 1s linear infinite; /* Spinning animation */
  }

  
  
  /* Keyframes for the spinning animation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

.hide-horizontal-scrollbar::-webkit-scrollbar:horizontal {
    display: none;
  }

  /* Hide scrollbar but keep scroll functionality */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  visibility:hidden; /* Chrome, Safari, Opera */
}



  @keyframes grow-shrink {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5); /* Adjust the scale factor as desired */
    }
    100%{
      transform:scale(0)
    }
  }
  
  .dot {
    animation: grow-shrink 1.6s ease-in-out infinite;
  }
 
  
  /* Adding specific delays for each dot */
  .dot:nth-child(1) {
    animation-delay: 0s;
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.2s; /* 100ms delay */
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.4s; /* 200ms delay */
  }
    

@media screen and (min-width:1080px){
    .slantBox{
        position:relative;
        /* background: linear-gradient(to right,#2E7D32,#14a9b6); */
        transform:skew(170deg) translateX(20px);
       
    }
    /* .slantBox::before{
        content:'';
        position:absolute;
        top:0;
        right:-50px;
        height:100%;
        width:100px;
        background:red;
        transform:skewX(-9deg);
    } */
  
}
