@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to left,rgb(2 6 23),rgb(15 23 42));
  color:white;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Control the scrollbar width */
  
}

/* Hide scrollbar track */
::-webkit-scrollbar-track {
  background: transparent; /* Keep it transparent */
  min-width: 0px; /* Set the track to almost zero width */
  margin: 0px; /* Remove any margin or padding */
}

/* Visible scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #0ea5e9; /* Visible thumb color */
  border-radius: 5px; /* Rounded corners */
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker thumb on hover */
}

